* {
  color: white;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  width: 100%;
  height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #111827; /* Odin Project coloration */
  overflow: auto;
}

#calculator {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 2px 2px 8px black;
  border-top: 4px solid #628aa4;
  border-bottom: 4px solid #628aa4;
  border-left: 8px solid white;
  border-right: 8px solid white;
  background-color: #628aa4;
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  height: 80%;
  max-width: 400px;
  max-height: 500px;
  flex: 1;
  overflow: auto;
}

#display {
  background-color: #aab4a9;
  border: 1px solid white;
  border-radius: 0.25rem;
  color: black;
  margin-bottom: 0.25rem;
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
  font-size: 2rem;
  flex: none;
}

#buttons {
  flex: auto;
  display: flex;
  flex-direction: column;
}

#calculator .button-row {
  display: flex;
  flex: auto;
  justify-content: space-around;
}

#calculator button {
  box-sizing: border-box;
  color: white;
  font-size: 2rem;
  width: 1rem;
  flex: auto;
  border-color: #628aa4;
}

#calculator .number {
  background-color: #f3f3f3;
  color: black;
}

#calculator .operation,
#clear {
  background-color: #628aa4;
}

#calculator .operation:focus {
  background-color: #1b76b1;
}
