* {
  color: white;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calculator {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin-top: 1rem;
  width: 80%;
  max-width: 800px;
}

#calculator p {
  background-color: #17191a;
  border: 1px solid white;
  border-radius: 0.25rem;
  color: white;
  margin-bottom: 0.25rem;
  padding: 0.25rem 0.5rem;
  text-align: right;
}

#calculator .button-container {
  display: flex;
}

#calculator button {
  color: white;
  font-size: 1rem;
  padding: 1rem;
  width: 1rem;
  flex: auto;
}

#calculator .number {
  background-color: #303436;
}

#calculator .operation,
#clear {
  background-color: #4b5154;
}
